*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    user-select: none;
}

button{
    cursor: pointer;
}

body{
    background-color: #e8e8e8;
}

/* navbars */
.navbar-container nav{
    background-color: #000;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Gremio coin */

#gremioCoins{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    margin-right: 1rem;
}

/* login container */
.navbar-container nav .login-container{
    display: flex;
    gap: 10px;
}

#perfilImage{
    height: 3.5rem;
    width: auto;
    cursor: pointer;
}

.userLogin-buttons{
    width: 150px;
    border-radius: 25px;
    border: 5px solid #ff8c23;
    background-color: #000;
    color: #ff8c23;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.6rem 0;

}

#loginButton{
    background-color: #ff8c23;
    color: #fff;
}

#loginButton:hover{
    background-color: #e46e00;
    border: 5px solid #e46e00;
}

#registerButton:hover{
    border: 5px solid #e46e00;
    color: #e46e00;
}

.navbar-container nav #user{
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container .rodapeNav{
    background-color: #ff8c23;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-container .rodapeNav button{
    background-color: #00000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    flex: 1;
    transition: 0.3s ease;
}

.navbar-container .rodapeNav button:hover{
    background-color: #e46e00;
}

.navbar-container .rodapeNav button i{
    font-size: 40px;
}

.navbar-container .rodapeNav button p{
    font-size: 20px;
    font-weight: bold;
}

/* menu usuário */

.perfilImage-container{
    position: relative;
}

#menuUsuarioAbsolute{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, 0);
}

.invisivel{
    display: none;
}

.visivel{
    display: block;
}

.triangulo{
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: #3d3d3d;
    transform: rotate(45deg) translate(-50%, 0);
    left: 48.5%;
    top: 0;
}

.menuUsuario{
    position: relative;
    background-color: #3d3d3d;
    padding: 1.5rem;
}

.menuUsuario ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menuUsuario li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.alaranja{
    color: #e46e00!important;
}

.naoBold{
    font-weight: normal!important;
}

/* main */
main{
    background-color: #e8e8e8;
    height: 100%;
}

/* container de apostas */

.apostas-container{
    background-color: #afafaf;
    width: 85%;
    height: 73vh;
    margin: 10px auto;
    border-radius: 5px;
    display: none;
}



#futsalButton-Container{
    display: flex;
}



.filtros{
    width: 20%;
    border-right: 1px solid #3d3d3d;
}

.partidas{
    width: 80%;
}

/* filtro div */

.filtros h2{
    font-size: 35px;
    padding: 1rem 2rem 0;
}

.filtro-list{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 200px;
    
}

.filtro-list li{
    list-style: none;
    height: 50%;
}

.filtros button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 0 3rem;
    transition: 0.3s ease;
    letter-spacing: 1px;

}

.filtros button:hover{
    background-color: #8f8f8f;
}

.filtroSelecionado{
    color: #e46e00;
    text-shadow: 0 0 2px #e46e00,
        0 0 2px #000;
    ;
    font-weight: bold;
    background-color: #3d3d3d!important;
}

.linhaSepara{
    border: 1px solid #929292;
    width: 100%;
    margin: auto;
}

/* PARTIDAS container */



.partidas header, header .resultado{
    display: flex;
}

.partidas header{
    padding: 1rem 2rem 0;
    justify-content: space-between;
    margin-bottom: 20px;
}

header .jogosH2{
    flex: 0.5;
}

header .resultado{
    gap: 30px;
}

.partidas h2{
    font-size: 23px;

}

/* corpo  de partidas */

.partidas-body{
    height: 86%;
    overflow-y: auto;
    overflow-x: hidden;
}

.partidas-body::-webkit-scrollbar{
    background: #00000000;
}

.partidas-body::-webkit-scrollbar-thumb{
    background: #929292;
    border-radius: 5px;
}


/* separar sessão */

.separarSessao{
    background-color: #929292;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

/* card partidas */

.partida-card{
    display: flex;
    padding: 0.6rem 0 0.6rem 2rem;
    height: 100px;
    justify-content: space-between;
}


/* informações da partida */
.dadosPartida{
    display: flex;
    gap: 30px;
    align-items: center;
    flex: 0.543;
    justify-content: start;
    min-width: 193px;
}

.dataPartida{
    text-align: center;
    max-width: 80px;
    min-width: 80px;
}

.dia{
    display: flex;
    gap: 8px;
}


/* times */

.times{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.time{
    display: flex;
    gap: 5px;
}

.time p{
    text-align: left;
    font-weight: bold;
    line-height: 14px;
    display: flex;
    align-items: center;
    
}

.time i{
    display: flex;
    align-items: center;
}

/* ajustar tamanho ambosmarcam */

.ambosMarcam{
    margin-right: 0.8rem;
}

/* ... mais/menos */

.maisMenos{
    margin-right: 4px;
}

/* odds */
.odds, .ambosMarcam, .maisMenos{
    display: flex;
    align-items: center;
    gap: 5px;
}

.odds-cards{
    color: #207c20;
    font-weight: bold;
    background-color: #e8e8e8;
    border: none;
    padding: 0.5rem 0.75rem;
    width: 50px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.odds-cards:hover{
    background-color: #ffd0a5;
}

.texto{
    color: #000;
}

.ambosMarcam .odds-cards, .maisMenos .odds-cards{
    width: 80px;
}

.odds .odds-cards{
    margin-left: 0.15rem;
}


/* Registro */

.registro-container{
    background-color: #afafaf;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    padding: 1rem 2rem;
}

.registro-container h2{
    font-size: 50px;
}

#registro-form, #login-form{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.registro-container label{
    font-size: 25px;
    text-align: start;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
}

.registro-container input, #id_username, #id_password{
    width: 80%;
    margin: 0 auto;
    padding: 0.75rem 0.5rem;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3 ease;
    position: relative;
    border: 2px solid #929292;
    background-color: #e8e8e8;    
}

input:focus{
    border: 2px solid #e46e00;
    outline: none;
}

.password-container{
    position: relative;
}

.password-container input{
    user-select: none;
}

.toggle-password{
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translate(0, -50%);
    cursor: pointer;
    font-size: 25px;
}

.errorlist, .error-message {
    list-style: none;
    color: #ff0000;
    font-weight: bold;
}

.error-message{
    margin: 0 auto;
    text-align: start;
}

/* escolher imagem */

#escolhaImagem-text{
    margin-top: 30px;
}

.hidden-radio {
    display: none;
}



#image-label{
    font-size: 25px;

}

.image-container {
    width: 100px;
    height: 100px;
    background-color: #929292;  
    border-radius: 5px;       
    padding: 5px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-around;
    transition: border 0.3s ease;  
    cursor: pointer;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Borda padrão */
.image-container {
    border: 2px solid transparent; 
    margin: 5px 0;
}



/* botao registrar */

#registrar-Button{
    background-color: #ff8c23;
    width: 80%;
    margin: 20px auto 0;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    transition: 0.3s ease;
}

#registrar-Button:hover{
    background-color: #e46e00;
}

/* Editar perfil */

.form-group{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separaLinha{
    position: relative;

}

.separaLinha hr{
    border: 1px solid #929292;
    margin: 2rem 0;
}

.separaLinha h3{
    color: #3b3b3b;
    position: absolute;
    background-color: #afafaf;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 0.5rem;
}

.perfil-atual{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#divOpcoesImagens{
    margin-top: 30px;
}

.perfil-atual button{
    background-color: #ff7b00;
    width: 30%;
    margin: 20px auto 0;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 13px;
    transition: 0.3s ease;
}


@media screen and (max-width: 1440px) {
    
    /* ajustando tamanho da imagem da nav */
    .navbar-container nav img{
        width: 400px;
    }

    /* tamanho das opções no rodapé */


    .navbar-container .rodapeNav button i{
        font-size: 30px;
    }

    .navbar-container .rodapeNav button p{
        font-size: 17px;
    }
}